@font-face {
    font-family: "ubuntu";
    src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.newsContent {
    margin: auto;
    display: flex;
    max-width: 1240px;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    display: inline-block;
    margin: auto;
}

ul li {
    list-style: none;
    display: inline-block;
}

.body {
    background-color: #DDEAF8;
    font-family: "Century Gothic";
}

.body h1 {
    max-width: 1240px;
    margin: auto;
    padding: 94px 0 68px 0;
    color: #27187F;

}

.newsContent div {
    padding: 33px 30px;
    background: #FFFFFF;
    margin-bottom: 51px;
    border-radius: 10px;
}

.nav a {
    text-decoration: none;
    color: #758BFD;
    font-weight: 500;
    font-size: 24px;
    font-family: "ubuntu";

}

.nav {
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav li:nth-child(2) {
    margin: 0px 50px;
}

.nav input {
    margin: 52px 0px;
    margin-right: 100px;
}

.footer {
    background: #758BFD;
    font-family: "Century Gothic";

}

.footer div {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
}

.footer div div {
    display: block;
    margin: 0;
}

.footer div div li {
    display: block;
}

.footer div div li {
    font-size: 20px;
    padding-bottom: 12px;
}

.footer div div:nth-child(1) li {
    display: inline-block;
}

.footer div div ul {
    padding: 0;
}

.pay {
    display: block;
    text-align: right;
    max-width: 1240px;
    margin: auto;
}

.footer a {
    display: block
}

.footermenu a {
    font-size: 13px;
}

h3 {
    color: #00CAD7;
    font-weight: 400;
    font-size: 20px;
    margin-top: 75px;
    margin-bottom: 21px;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.pay {
    margin: 0;
    padding: 97px 75px;
    ;
}

.active {
    color: #27187F !important;
}

.search {
    width: 221px;
    height: 56px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #27187F;
    border-style: solid;
}



.magnifier {
    display: flex;
}

.magnifier img {
    position: relative;
    margin-left: -150px;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 105px;
}

.email {
    font-size: 13px;
}